
@font-face {
    font-family: "NexaBold";
    src: url("fonts/NexaBold.otf");
}
@font-face {
    font-family: "NexaLight";
    src: url("fonts/NexaLight.otf");
}
@font-face {
    font-family: "Helvetica";
    src: url("fonts/helr45w.ttf");
}
@font-face {
    font-family: "helr46w";
    src: url("fonts/helr46w.ttf");
}
@font-face {
    font-family: "helr47w";
    src: url("fonts/helr47w.ttf");
}
@font-face {
    font-family: "helr48w";
    src: url("fonts/helr48w.ttf");
}
@font-face {
    font-family: "helr65w";
    src: url("fonts/helr65w.ttf");
}
@font-face {
    font-family: "Helvetica Bold";
    src: url("fonts/helr66w.ttf");
}
@font-face {
    font-family: "Helvetica Narrow Bold";
    src: url("fonts/helr67w.ttf");
}
@font-face {
    font-family: "helr68w";
    src: url("fonts/helr68w.ttf");
}