@charset "utf-8";
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");
@import url("bootstrap/bootstrap-fcbayern.css");
@import url("bootstrap/font-awesome.css");
/* CSS Document */

body{
	background:#000 url(../img/bgTop.jpg) top center no-repeat;
}

header .container,
footer .container{
	max-width:1065px;
}
section .container{
	max-width:1035px;
}


/********************************************************/
/*                 	    Helper class	                */
/********************************************************/

.no-space{
  margin: 0px !important;
  padding: 0px !important;
}
.no-bottom-space{
  padding-bottom:0px !important;
  margin-bottom: 0px !important;
}
.no-top-space{
  padding-top:0px !important;
  margin-top: 0px !important;
} 
.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.no-top-margin{margin-top: 0 !important;}
.no-left-margin{margin-left: 0 !important;}
.no-right-margin{margin-right: 0 !important;}
.no-bottom-margin{margin-bottom: 0 !important;}
.no-left-padding{padding-left: 0 !important;}
.no-right-padding{padding-right: 0 !important;}
.no-bottom-padding{padding-bottom: 0 !important;}

.padding-10{padding:10px !important;}
.padding-20{padding:20px !important;}

.padding-bottom-20{padding-bottom:20px !important;}

.margin-top-10{margin-top: 10px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-25{margin-top: 25px !important;}
.margin-top-30{margin-top: 30px !important;}
.margin-top-40{margin-top: 40px !important;}
.margin-top-50{margin-top: 50px !important;}

.margin-left-10{margin-left: 10px !important;}
.margin-left-15{margin-left: 15px !important;}
.margin-left-20{margin-left: 20px !important;}
.margin-left-25{margin-left: 25px !important;}

.margin-right-10{margin-right: 10px !important;}
.margin-right-20{margin-right: 20px !important;}

.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-15{margin-bottom: 15px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-25{margin-bottom: 25px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-bottom-40{margin-bottom: 40px !important;}



/********************************************************/
/*                  	   LOGOBAR 	                    */
/********************************************************/
#logobar{
	height:140px;
}

#logobar #logo{
	display:block;
	margin-top:50px;
}

#logobar .champion a{
	display:inline-block;
	padding:0px 1px;
}

#logobar .champions{
	margin-top:15px;
}

#logobar .accessbar li a{
  background-image: -webkit-linear-gradient(top, #2f2f2f 0%, #010101 100%);
  background-image:         linear-gradient(to bottom, #2f2f2f 0%, #010101 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#010101', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  color:#fff;
  padding:8px 15px;
}

#logobar .accessbar li .dropdown-menu{
  background-image: -webkit-linear-gradient(top, #010101 0%, #2f2f2f 100%);
  background-image:         linear-gradient(to bottom, #010101 0%, #2f2f2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010101', endColorstr='#2f2f2f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  margin-top:-1px;
  margin-right:-1px;
  min-width: 220px;
  border-radius:0;
  padding: 15px 15px 5px;
  color:#fff;
}

#logobar .accessbar li.register a{
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #1f1f1f 100%);
  background-image:         linear-gradient(to bottom, #3d3d3d 0%, #1f1f1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#1f1f1f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}



/********************************************************/
/*                  	   slider 	                    */
/********************************************************/
#slider .container{	
	max-width:1065px;
}

#slider .container #carousel-generic{
	background:url(../img/slider/slideBg.jpg) no-repeat top right;
	height:402px;
}


/********************************************************/
/*                  	   content 	                    */
/********************************************************/
#content, #shoutboxPolling{
	max-width:1035px;
	margin:0 auto;
	background:#fff;
}
#content{
  	-webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, .9);
	box-shadow: 0 -4px 15px rgba(0, 0, 0, .9);
}
#content .container{
	max-width:1035px;
}

.newsItems{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#343434;
}

.newsItems .space-mobile{
	margin-bottom:25px;
}

.newsItems h3{
	background:url(../img/news/newsTitleBg.jpg) no-repeat left bottom;
	text-transform:uppercase;
	color:#173967;
	font-size:16px;
	margin-top:5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.newsItems .author{	
	background-image: -webkit-linear-gradient(top, #eee9e9 0%, #b5b5b5 100%);
	background-image:         linear-gradient(to bottom, #eee9e9 0%, #b5b5b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee9e9', endColorstr='#b5b5b5', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;

	position:relative;
	font-size:10px;
	color:#000000;
	display:table;
	margin-left:auto;
	right:0px;
	padding:2px 4px;
}

.newsItems .photo{
	position:relative;	
}

.newsItems .photo .infoBar{
	position:absolute;
	bottom:0px;
	left:0px;
}

.newsItems .photo .infoBar .comments{
	display:inline-block;
	background-image: -webkit-linear-gradient(top, #173967 0%, #0f2d55 100%);
	background-image:         linear-gradient(to bottom, #173967 0%, #0f2d55 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#173967', endColorstr='#0f2d55', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-family:Kalinga;
	font-weight:bold;
	font-size:11px;
	color:#fff;
}

.newsItems .photo .infoBar .comments i.icons-comment-maiki{
	background:url(../img/news/icon-comment.jpg) center no-repeat;
	width:20px;
}

.newsItems .photo .infoBar .comments i,
.newsItems .photo .infoBar .comments span{
	display:inline-table;
	padding:4px 6px;
}

.newsItems .photo .infoBar .date{
	display:inline-block;
	background-image: -webkit-linear-gradient(top, #000000 0%, #171717 100%);
	background-image:         linear-gradient(to bottom, #000000 0%, #171717 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#171717', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-family:Kalinga;
	font-weight:bold;
	font-size:10px;
	color:#9b9b9b;
}

.newsItems .photo .infoBar .date span{
	display:inline-table;
	padding:5px 8px 4px;
}

.newsItems .photo .infoBar .space{
	display:inline !important;
	border-right:1px solid rgba(255,179,179, 0.13);
	padding:0 !important;
}

.newsItems .more{
	color:#fd0225;
	font-weight:bold;
}

/* other news position */

#otherNews{
	font-family:Verdana, Geneva, sans-serif;
}

#otherNews tr{
	border-bottom:1px solid #d6d6d6;
}

#otherNews td{
	border-top:0;
	padding:3px;
}

#otherNews .otherArrow,
#otherNews .otherMore{
	background-image: -webkit-linear-gradient(top, #ff153a 0%, #c21123 100%);
	background-image:         linear-gradient(to bottom, #ff153a 0%, #c21123 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff153a', endColorstr='#c21123', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	color:#fff;
	text-shadow: 1px 1px rgba(0,0,0,.7);
	text-align:center;
	vertical-align:middle;
}
#otherNews .otherArrow{
	width:28px;
}

#otherNews .otherTitle{
	background-image: -webkit-linear-gradient(top, #fff 0%, #dbdbdb 100%);
	background-image:         linear-gradient(to bottom, #fff 0%, #dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dbdbdb', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-size:14px;
	color:#302d2d;
	padding-left:10px;
}

#otherNews .otherDate{
	background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #cdcdcd 100%);
	background-image:         linear-gradient(to bottom, #e8e8e8 0%, #cdcdcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#cdcdcd', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-size:12px;
	color:#000;
	text-shadow:1px 1px rgba(255,255,255, .5);
	padding:5px;
	width:130px;
}

#otherNews .otherDate span{
	padding-left:5px;
}

#otherNews .otherComments,
#otherNews .otherCommentsIcon{
	background-image: -webkit-linear-gradient(top, #0f4c5d 0%, #0d3947 100%);
	background-image:         linear-gradient(to bottom, #0f4c5d 0%, #0d3947 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f4c5d', endColorstr='#0d3947', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	max-width:30px;
	vertical-align:middle;
	text-align:center;
}
#otherNews .otherCommentsIcon{
	border-right:1px solid rgba(233,233,233, .08);
}

#otherNews .otherCommentsIcon i.icons-comment-maiki{
	display:block;
	background:url(../img/news/icon-comment.jpg) center no-repeat;
	width:18px;
	height:18px;
	margin:0;
	padding:0;
}

#otherNews .otherComments .comments{
	font-size:12px;
	color:#f9f9f9;
	text-shadow:1px 1px rgba(0,0,0,.5);
	
}

#otherNews .otherMore a{
	color:#fff;
	text-transform:uppercase;
	text-shadow:1px 1px rgba(0,0,0,.5);
}

#otherNews h3.otherNews{
	background:url(../img/news/otherNews.jpg) no-repeat left bottom;
	color:#ff001a;
}

#otherNews h3.articles{
	background:url(../img/news/articles.jpg) bottom left no-repeat;
	color:#7f7f7f;
}

/********************************************************/
/*                  sliderBottom 	                    */
/********************************************************/
#sliderBottom .container{
	background-image: -webkit-linear-gradient(top, #e7e5e5 0%, #e1e1e1 100%);
	background-image:         linear-gradient(to bottom, #e7e5e5 0%, #e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e5e5', endColorstr='#e1e1e1', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
}

/********************************************************/
/*              Shoutbox / Ankieta 	                    */
/********************************************************/
#shoutboxPolling .shoutbox{
}

#shoutboxPolling .shoutbox h3.shoutboxTitle{
	background:url(../img/bgShoutbox.jpg) no-repeat top left;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.5);
	border-bottom:3px solid #9e0c21;
	padding:15px 10px 4px;
	font-weight:normal;
}

#shoutboxPolling .shoutbox h3.shoutboxTitle span{
	color:#000;
	text-shadow:none;
	font-size:14px;
	display:inline-block;
	padding:3px 25px;
}

.shoutboxArchive a{
	color:#000;
	font-weight:bold;
}

#shoutboxPolling .polling{
	color:#000;
}

.polling h3.pollingTitle{
	background:url(../img/bgPolling.jpg) no-repeat top left;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.5);
	border-bottom:3px solid #9e0c21;
	padding:15px 10px 5px;
	font-weight:normal;
}

.pollingStat{
	color:#000;
	font-weight:bold;
	
}

.pollingStat span{
	color:#fb0024;
}

/********************************************************/
/*              		footer	 	                    */
/********************************************************/
footer{
	background-image: -webkit-linear-gradient(top, #fc032c 0%, #d90d20 100%);
	background-image:         linear-gradient(to bottom, #fc032c 0%, #d90d20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc032c', endColorstr='#d90d20', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
}
.footer{
	background:url(../img/bgFooter.png) repeat;
	min-height:262px;
}
.footer h3{
	color:#fff;
	font-size:15px;
	font-weight:normal;
	text-transform:uppercase;
}
footer .statistic{
	font-family:Verdana, Geneva, sans-serif;
	text-transform:uppercase;
	padding-left:15px;
	list-style:none;
	font-size:12px;
	color:#302d2d;
}
footer .statistic li{
	margin:10px 0;
}
footer .statistic li span{
	color:#fff;
}
footer .footerButton div.row{
	margin:0px;
}

footer .footerButton div div.col-md-2{
	padding:0;
}
footer .copyright,
footer .copyright a{
	color:rgba(255,255,255,.61);
	text-transform:uppercase;
}